@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://scontent.frec38-1.fna.fbcdn.net/v/t1.18169-9/10600480_768195376560530_7213453269441602429_n.png?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=n4MCho_kblIAX8PST9s&_nc_ht=scontent.frec38-1.fna&oh=00_AT91EPd4uqhuF-xPL7tv_fiZyruS2yHI0HoQLkg1DprykQ&oe=61DA7873" class="d-block w-100" alt="...">
    </div>
  </div>
</div>


<section class="card-container">

<div class="card cad">
  <img src="https://cdn-icons-png.flaticon.com/512/4760/4760483.png"  alt="...">
  <div class="card-body">
    <h5 class="card-title center">Contato</h5>
    <p class="card-text center">Selecionamos destidos incriveis para você, algumas com reservas flexíveis e outras a preços incríveis.</p>
    <a asp-controller="Contatoes" asp-action="AddEdit" class="btn btn-cad">Clique para conectar</a>
  </div>
</div>
<div class="card cad">
  <img src="https://cdn-icons-png.flaticon.com/512/4760/4760448.png" alt="...">
  <div class="card-body">
    <h5 class="card-title center">Cliente</h5>
    <p class="card-text center">Seja cliente e visite destidos incriveis, com reservas flexíveis e preços incríveis.</p>
    <a asp-controller="Clientes" asp-action="AddEdit" class="btn btn-cad">Clique para cadastrar</a>
  </div>
</div>
<div class="card cad">
  <img src="https://cdn-icons-png.flaticon.com/512/4760/4760440.png" alt="...">
  <div class="card-body">
    <h5 class="card-title center">Promoções</h5>
    <p class="card-text center">Selecionamos promoções incriveis para você, algumas com reservas flexíveis e outras a preços incríveis.</p>
    <a asp-controller="Promocaos" asp-action="AddEdit" class="btn btn-cad">Clique para cadastrar</a>
  </div>
</div>
<div class="card cad">
  <img src="https://cdn-icons-png.flaticon.com/512/4760/4760464.png" alt="...">
  <div class="card-body">
    <h5 class="card-title center">Destinos</h5>
    <p class="card-text center">Selecionamos destidos incriveis para você, algumas com reservas flexíveis e outras a preços incríveis.</p>
    <a asp-controller="Destinoes" asp-action="AddEdit" class="btn btn-cad">Clique para cadastrar</a>
  </div>
</div>
</section>

    <h1>“O que interessa na vida não é prever os perigos das viagens; é tê-las feito.”                 (Agostinho da Silva)</h1>

    <div class="card w-100 card-color">
  <div class="row">
    <div class="col-md-8 not">
      <img src="https://www.viagenscinematograficas.com.br/wp-content/uploads/2018/12/Fortaleza-O-que-Fazer-Melhores-Passeios-Capa-2.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-4 card-color">
      <div class="card-body not-color">
        <h5 class="card-title">Por que viajar faz bem?</h5>
        <ol>
            <li>Viajar melhora o seu currículo</li> 
            <li>Viajar mantém seu coração saudável</li>
            <li>Viajar colabora para a sua felicidade</li>
            <li>Viajar amplia seu repertório</li>
            <li>Viajar te coloca em contato consigo mesmo</li>
            <li>Viajar te ajuda a lidar com o estresse</li>
            <li>Viajar te apresenta novas experiências culinárias</li>

        </ol>
      </div>
    </div>
  </div>
</div>

